<div class="jumbotron jumbotron-fluid">
  <hr class="my-4.5">
  <div class="d-flex justify-content-center align-items-center">
    <div>

      <div style="margin-left: 50px; width:800px;margin-top: 100px" class="bodyletter">

        <h2>
          <p class="justifyText title_name">
            Sorry, this page does not exist...
          </p>
        </h2>

        <br>

        <h4>

          <a class="btn-link" style="color: green "
             routerLink="/home"
             title="Profile">Please log in first to manage your profile through Sign In button.
          </a>

          <br>
          <br>


          <a class="btn-link" style="color: green "
             routerLink="/contacto"
             title="Contact">Or you can contact us for any issue.
          </a>

        </h4>

      </div>

    </div>
  </div>
</div>
