<div class="container container-fluid" style="margin-top: 83px">
   <hr class="my-4.5">
       <div class="d-flex justify-content-center align-items-center">
           <div>

             <h4 align="le"><small> <strong>CONTACT</strong> </small></h4>
             <hr>
              <form [formGroup] = "form" (ngSubmit)="onSubmit($event)">
                 <div class="form-group-fields" formGroupName="contact">

                   <div class="form-group">
                     <label for="firstname">First Name:</label>
                     <input id="firstname"
                            formControlName="firstname"
                            class="form-control"
                            placeholder="First name"
                            [ngClass]="{'is-invalid': form.get('contact.firstname').errors}" />

                     <!-- Showing messages valitation firstname-->
                     <div class="invalid-feedback" *ngIf="form.get('contact.firstname').errors">

                        <div *ngIf="isRequired('firstname')">First Name is required.</div>
                        <div *ngIf="form.get('contact.firstname').hasError('minlength')">At least 2 characters.</div>
                        <div *ngIf="form.get('contact.firstname').hasError('maxlength')">Until 35 characters.</div>
                        <div *ngIf="form.get('contact.firstname').errors?.pattern">Only alphanumerics characters.</div>

                     </div>

                   </div>

                   <div class="form-group">
                     <label for="lastname">Last Name:</label>
                     <input id="lastname"
                            formControlName="lastname"
                            class="form-control"
                            placeholder="Last name"
                            [ngClass]="{'is-invalid': form.get('contact.lastname').errors}"/>

                     <!-- Showing messages valitation lastname-->
                     <div class="invalid-feedback" *ngIf="form.get('contact.lastname').errors">

                       <div *ngIf="isRequired('lastname')">First Name is required.</div>
                       <div *ngIf="form.get('contact.lastname').hasError('minlength')">At least 2 characters.</div>
                       <div *ngIf="form.get('contact.lastname').hasError('maxlength')">Until 35 characters.</div>
                       <div *ngIf="form.get('contact.lastname').errors?.pattern">Only alphanumerics characters.</div>

                     </div>
                   </div>

                   <div class="form-group">
                     <label for="phone">Phone:</label>
                     <input id="phone"
                            formControlName="phone"
                            class="form-control"
                            [(ngModel)]="modelWithValue"
                            [textMask]="{mask: mask}"
                            [ngClass]="{'is-invalid': form.get('contact.phone').errors}"/>

                   </div>

                   <div class="form-group">
                     <label for="email">Email:</label>
                     <input id="email"
                            formControlName="email"
                            class="form-control"
                            placeholder="Email"
                            [ngClass]="{'is-invalid': form.get('contact.email').errors}"/>

                     <!-- Showing messages valitation email-->
                     <div class="invalid-feedback" *ngIf="form.get('contact.email').errors">

                       <div *ngIf="isRequired('email') || form.get('contact.email').hasError('email')">Email address is required and valid.</div>


                     </div>
                   </div>

                   <div class="form-group">
                     <label for="subject">Subject:</label>
                     <input id="subject"
                            formControlName="subject"
                            class="form-control"
                            placeholder="Subject"
                            [ngClass]="{'is-invalid': form.get('contact.subject').errors}"/>

                     <!-- Showing messages valitation subject-->
                     <div class="invalid-feedback" *ngIf="form.get('contact.subject').errors">

                       <div *ngIf="isRequired('subject')">Subject is required.</div>

                     </div>
                   </div>

                   <div class="form-group">
                     <label for="message">Message:</label>
                     <textarea  id="message"
                                cols="80"
                                rows="4"
                                formControlName="message"
                                class="form-control"
                                placeholder="Message"
                                [ngClass]="{'is-invalid': form.get('contact.message').errors}"></textarea>

                     <!-- Showing messages valitation message-->
                     <div class="invalid-feedback" *ngIf="form.get('contact.message').errors">

                       <div *ngIf="isRequired('message')">Message is required.</div>

                     </div>
                   </div>

                   <button [disabled]="form.invalid" class="btn btn-success"> Save</button>
                   <a href="/home" class="btn btn-primary">Cancel</a>

                   <!--<a href="/login" class="btn">Cancel</a>-->
                 </div>

                <!-- Check form-->
                 <!--Validation Form Status :-->
                 <!--{{ form.valid}}-->



               </form>
           </div>
       </div>
</div>
