.nav-item > a.active{
  background-color: green;
  color: white;
 }

.nav-item > a:link{
  color: black;
}

.cursor-pointer{
  cursor: pointer;
}

/*.img-responsive {*/
  /*height:  auto;*/
  /*display: block;*/
  /*max-width: 100%;*/
/*}*/
