<div class="jumbotron jumbotron-fluid">
  <hr class="my-4.5">
  <div class="d-flex justify-content-center align-items-center mt-5 ml-5">

    <!--style="margin-top: 130px;margin-left: 230px"-->

    <div>
      <div class="card w-75 ">
        <div class="card-body">
          <h5 class="card-title">About</h5>
          <p class="card-text">We are a software developers team specialized in the business sector. Our goal is customer satisfaction based on ethical principles.</p>
          <p class="card-text">The Helix team offers professional services so that the necessary reliability can be provided at all levels. We are projected to provide quality computer solutions, so motivation and commitment are the fundamental pillars of the team.</p>
          <a href="/home" class="btn btn-primary" (click)="onGoHome();">Go Home</a>
        </div>
      </div>
    </div>

    </div>

</div>
