<div class="container-fluid fixed-top bg-nav-container text-center">
  <!-- usando la clase container en el tag nav para crear un container dentro-->
  <!--fixed-top hace que la barra sea fija-->
<nav class="navbar navbar-expand-sm navbar-custom">

  <a class="navbar-brand navbar-font-title" href="index.html">
    <img src="../../assets/logo2.svg" width="55" height="55" class="d-inline-block align-top mr-3" alt="GREEN HELIX">
   <!--<img src="../../assets/logo.png"/>-->
    GREEN HELIX
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCustom" aria-controls="navbarCustom" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa fa-bars fa-lg py-1 text-white"></i>
  </button>
  <!-- Menu -->
  <div class="navbar-collapse collapse" id="navbarCustom">
    <div class="d-flex justify-content-end  align-items-center">
      <!--<a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>-->

      <!--<a class="nav-item nav-link" href="#">About</a>-->
      <!--Aplicando margen para separar un poco los botones-->
      <a class="nav-item nav-link text-color-nav-item" [routerLink]="['home']">Home</a>
      <a class="nav-item nav-link text-color-nav-item" *ngIf="this.auth.isAuthenticated()" [routerLink]="['protegida']">My Profile</a>
      <a class="nav-item nav-link text-color-nav-item" [routerLink]="['contacto']">Contact</a>
      <a class="nav-item nav-link mr-md-4 text-color-nav-item" [routerLink]="['about']">About</a>
    </div>
  </div>

  <!--Profile-->

  <div class="float-sm-right" *ngIf="profile!=null" style="width: 115px;">
    <!--{{ localStorage.getItem('userProfile').name }}-->
    <!--<img [src]="profile.picture" class="rounded">-->

    <table>
      <tr>
        <th colspan="2">WELCOME</th>
      </tr>
      <tr>
        <td>{{ profile.family_name}}</td>
        <td rowspan="2"><img [src]="profile.picture" class="rounded" height="42" width="42"></td>
      </tr>
      <tr>
        <td>{{ profile.given_name}}</td>
      </tr>
    </table>
  </div>

  <!--Botones-->
  <div class="float-sm-right">
    <button (click)="login()"
            *ngIf="!this.auth.isAuthenticated()"
            type="button"
            class="btn btn-success btn-sm">Sign In</button>

    <button (click)="salir()"
            *ngIf="this.auth.isAuthenticated()"
            type="button"
            class="btn btn-success btn-sm">Log Out</button>

  </div>

</nav>
</div>
