<!--Menu-->
    <div class="container-fluid bg-dark fixed-top text-center">
      <nav class="navbar navbar-expand-lg navbar-light bg-light container navbar-dark bg-dark">

        <!--<a class="navbar-brand" href="#">Navbar</a>-->

        <!--Logo-->
        <a class="navbar-brand navbar-font-title " href="index.html">
          <!--<img src="http://142.93.92.179:8080/greenHelixGarden/assets/logo2.svg" width="55" height="55" class="d-inline-block align-top mr-3" alt="GREEN HELIX">-->
          <img src="../../assets/logo2.svg" width="55" height="55" class="d-inline-block align-top " alt="Power Business GO"/>
          <span style="color: white">Power Business</span> <span style="color: green"><strong>GO</strong></span>
        </a>
        <!--End logo-->

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!--ml auto: aligning menu to right -->
          <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link text-color-nav-item" [routerLink]="['home']" (click)="onGoHome();">Home</a>
            <a class="nav-item nav-link text-color-nav-item" *ngIf="this.auth.isAuthenticated()" [routerLink]="['protegida']">Profile</a>
            <a class="nav-item nav-link text-color-nav-item" [routerLink]="['contacto']">Contact</a>
            <!--mr-4 space betwen buttons-->
            <a class="nav-item nav-link mr-md-4 text-color-nav-item mr-4" [routerLink]="['about']">About</a>

            <!--Login/Logout-->
            <div class="d-flex align-items-center mr-3">
              <button (click)="login()"
                      *ngIf="!this.auth.isAuthenticated()"
                      type="button"
                      class="btn btn-success btn-sm">Sign In</button>

              <button (click)="salir()"
                      *ngIf="this.auth.isAuthenticated()"
                      type="button"
                      class="btn btn-success btn-sm">Log Out</button>

            </div>

            <div *ngIf="profile!=null" style="color: white">
              {{ profile.given_name | uppercase}} &#160;  <img [src]="profile.picture" class="rounded" height="42" width="42">
            </div>



          </div>
        </div>
      </nav>
    </div>
<!--Fin Menu-->
