<div class="container container-fluid progress-bar-animated" style="margin-top: 200px">
   <div class="d-flex justify-content-center align-items-center">

    <div style="width: 800px">
      <h4 align="le"><small> <strong>WORKS</strong> </small></h4>
      <hr>

      <!--loading images section-->

      <app-loadimages></app-loadimages>

      <!--end loading images section-->
      <br>
      <h5><strong>Works List</strong></h5>
      <label style="font-size: small; color: red"><strong>Set "Yes" to show in home page, otherwise the system will set it for you.</strong></label>
       <hr>

      <div *ngIf="dataWorks==null">
        <h4 style="margin-left: 350px"><label style="color: green"><strong>Loading</strong></label></h4>
        <div class="text-center">
          <div class="sk-cube-grid">
            <div class="sk-cube sk-cube1"></div>
            <div class="sk-cube sk-cube2"></div>
            <div class="sk-cube sk-cube3"></div>
            <div class="sk-cube sk-cube4"></div>
            <div class="sk-cube sk-cube5"></div>
            <div class="sk-cube sk-cube6"></div>
            <div class="sk-cube sk-cube7"></div>
            <div class="sk-cube sk-cube8"></div>
            <div class="sk-cube sk-cube9"></div>
          </div>
        </div>
      </div>

      <div class="row">
       <div class="col-12 col-md-12">
         <div class="card-columns">

           <div class="card" style="width: 18rem;" *ngFor="let items of dataWorks;let i = index">

             <!--Using Pipe Safe to avoid XSS-->
             <img class="card-img-top rounded" [src]="'data:image/jpg;base64,'+items.afterPhoto|safe" alt="Card image cap">

             <div class="card-body">
               <p class="card-text">

                 <!--Default work-->
                 <span *ngIf="items.showHomePage && items.date=='3919-01-12'"><strong>Set Show Home: </strong><label>Yes</label></span>

                   <span *ngIf="items.showHomePage && items.date!='3919-01-12'"><strong>Set In Home Page:  </strong><label STYLE="color: white; background-color: red">Yes</label> | <label><a href="#" (click)="setHome(items.id)">No</a></label></span>
                   <span *ngIf="!items.showHomePage && !isFullCupFlag && items.date!='3919-01-12'"><strong>Set Show Home: </strong><label><a href="#" (click)="setHome(items.id)">No</a></label></span>
                   <span *ngIf="!items.showHomePage && isFullCupFlag && items.date!='3919-01-12'"><strong>Set Show Home: </strong><label>No</label></span>
                 <br>
                   <span *ngIf="!!items.date">Date: {{items.date | date: 'dd/MM/yyyy'}}</span>
                   <br>
                   <a *ngIf="items.date!='3919-01-12'" href="#" (click)="deleteWork(items.id)">Delete</a>
               </p>
             </div>
           </div>


         </div>
       </div>
      </div>
      <a href="/protegida" class="btn btn-primary" (click)="onValidateShowHome()">Go Profile</a>
      <a href="/home" class="btn btn-secondary" >Go Home</a>
   </div>
 </div>
</div>
